{% extends "base.html" %}

{% block title %}Dashboard | National Crime Analytics{% endblock %}

{% block content %}

<!-- ===== PAGE TITLE ===== -->
<section class="page-title">
    <h6>Crime Analytics Dashboard</h6>
    <h7>Interactive analysis of NCRB crime data (2016–2020)</h7>
</section>

<!-- ===== FILTERS INSIDE CARD ===== -->
<div class="filter-card">
    <label>Year</label>
    <select id="yearFilter">
        <option value="all">All</option>
        <option value="2016">2016</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
    </select>

    <label>City</label>
    <select id="cityFilter"></select>

    <label>Age Group</label>
    <select id="ageFilter">
        <option value="all">All</option>
        <option value="18-30">18–30</option>
        <option value="30-45">30–45</option>
        <option value="45-60">45 above and below 60</option>
        <option value="60 years and above">60 years and above</option>
    </select>

    <label>Gender</label>
    <select id="genderFilter">
        <option value="all">All</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    
    <button id="resetBtn" class="reset-btn">Reset</button>
</div>







<!-- ===== YEAR TREND SECTION (All filters = all) ===== -->
<section class="trend-section" id="yearCharts" style="display:none;">
    <div class="trend-card fixed-height">
        <h2>Crime Trend Across Years</h2>
        <canvas id="yearTrendChart"></canvas>
    </div>
</section>
<div id="filterWarning" class="filter-warning">
    ⚠ FILTERED DATA VIEW ACTIVE
</div>

<!-- CITY COMPARISON -->
<section class="trend-section" id="cityComparisonSection" style="display:none;">
    <div class="trend-card fixed-height">
        <h2 id="cityComparisonTitle">Crime Comparison</h2>
        <canvas id="cityComparisonChart"></canvas>
    </div>
</section>

<!-- AGE-GENDER TREND -->
<section class="trend-section" id="ageGenderTrendSection" style="display:none;">
    <div class="trend-card fixed-height">
        <h2>Year-wise Trend for Selected Age & Gender</h2>
        <canvas id="ageGenderTrendChart"></canvas>
    </div>
</section>

<!-- CITY ANALYSIS -->
<section class="analysis-section" id="mainCharts" style="display:none;">
    <div class="analysis-grid">

        <div class="analysis-card-small">
            <h3>City-wise Persons Arrested</h3>
            <canvas id="cityChart"></canvas>
        </div>

        <div class="analysis-card-large">
            <h3>Crime Profile</h3>
            <canvas id="profileChart"></canvas>
        </div>

    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
