{% extends "base.html" %}
{% block title %}Foreigners Crime Dashboard{% endblock %}

{% block content %}

<section class="page-title">
    <h9>Foreigners Crime Analysis</h9>
</section>

<section class="filter-card">

    <label>Year:</label>
    <select id="yearFilter">
        <option value="all">All</option>
        <option value="2016">2016</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
    </select>

    <!-- 🔥 Wrap this -->
    <div id="crimeFilterWrapper">
        <label>Crime Head:</label>
        <select id="crimeFilter">
            <option value="all">All</option>
        </select>
    </div>

    <button id="resetBtn" class="reset-btn">Reset</button>

</section>

<!-- 🔥 TREND SECTION -->
<section class="chart-section4" id="trendSection" style="display:none;">
    <div class="card">
        <h3>Highest Foreigner Crime Trend Across Years</h3>
        <canvas id="foreignerTrendChart"></canvas>
    </div>
</section>

<section class="table-section">
    <div class="table-container">
        <table id="foreignerTable"></table>
    </div>
</section>



{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/foreigner.js') }}"></script>
{% endblock %}
