{% extends "base.html" %}
{% block title %}Foreigners Crime Dashboard{% endblock %}

{% block content %}

<section class="page-title">
    <h1>Foreigners Crime Analysis</h1>
</section>

<section class="filter-section">
    <label>Year:</label>
    <select id="yearFilter">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
    </select>

    <label>Crime Head:</label>
    <select id="crimeFilter">
        <option value="all">All</option>
    </select>

    <button id="applyBtn">Apply</button>
</section>

<div class="table-container">
    <table id="foreignerTable"></table>
</div>



{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/foreigner.js') }}"></script>
{% endblock %}
